#center-content-container {
    height: calc(100vh - 19.5vh - 10vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#spreadsheet-container {
    background-color: lightblue;
    height: 100%;
    width: 75%;
}

#recent-files-container {
    background-color: lightcoral;
    height: 100%;
    width: 25%;
}

#controls-container {
    display: flex;
    height: 5vh;
    justify-content: center;
}