nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border-bottom: 5px solid var(--red);
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 2%;
}

nav ul li a{
    padding-right: 20px;
    text-decoration: none;
}

#nav-logo {
    height: 10vh;
    padding-left: 2%;
}